<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js">
</script>
<!--JSPDF CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/polyfills.umd.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js" integrity="sha512-UcDEnmFoMh0dYHu0wGsf5SKB7z7i5j3GuXHCnb3i4s44hfctoLihr896bxM0zL7jGkcHQXXrJsFIL62ehtd6yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>



<div style="background-color: rgb(244, 246, 182);height:'fit-content';" id="content">
    <h1> 
        Booking Summary
    </h1>
    
    <ul>
        
        <% for (let i = 0; i < bookingArray.length; i++) { %>
          <li><%= bookingArray[i].room.roomNumber %></li>
            <h3><%= bookingArray[i].room.roomType %></h3>
            <h3><%= bookingArray[i].room.roomName %></h3>
            <h3><%= bookingArray[i].room.capacity %></h3>
            <h3><%= bookingArray[i].date %></h3>
            <h3><%= bookingArray[i].times %></h3>
            
        <% } %>
      </ul>
      


    
</div>

<div style="text-align: center;"><button id="pdfButton" onclick="makepdf()" style="height: 50px;"><b>Click here to Generate PDF</b></button></div>


<script>
    function makepdf() {
        var element = document.getElementById('content');
        html2pdf(element, {
            margin: 0,
            filename: 'myfile.pdf',
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            html2canvas: {
                dpi: 300,
                letterRendering: true
            },
            jsPDF: {
                unit: 'in',
                format: 'letter',
                orientation: 'portrait'
            }
        });
    }
</script>

    
    
    
