<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js">
</script>
<!--JSPDF CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/polyfills.umd.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js" integrity="sha512-UcDEnmFoMh0dYHu0wGsf5SKB7z7i5j3GuXHCnb3i4s44hfctoLihr896bxM0zL7jGkcHQXXrJsFIL62ehtd6yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>



<div style="background-color: rgb(244, 246, 182);height:'fit-content';" id="content">
    <h1> 
        Booking Confirmed!
    </h1>
    <h2><strong>Event Name:</strong> <%= eventName %></h2>
    <h2><strong>Event Organizer:</strong> <%= eventOrganizer %></h2>
    <h2><strong>Event Email:</strong> <%= eventEmail %></h2>
    <h2><strong>Event Phone:</strong> <%= eventPhone %></h2>
    <h2><strong>Event Type:</strong> <%= eventType %></h2>
    
     %>
    <ul>
        <h3> Room Details</h3>
        <% for (let i = 0; i < bookingArray.length; i++) {
          %>
          <li><h3>Room Number :<%= bookingArray[i].room.roomNumber %> <%= bookingArray[i].room.roomName %></h3></li>
            <h3>Room Type : <%= bookingArray[i].room.roomType %></h3>
            <h3> Room Capacity : <%= bookingArray[i].room.capacity %></h3>
            <h3> Event Dates : <%= bookingArray[i].date %></h3>
            <h3> Event Timing : <%= bookingArray[i].times %></h3>
            
        <% } %>
      </ul>
      

    
</div>
<button onclick="sendEmail()" >Send Confirmation Email</button>

  <script>



    function sendEmail() {
      fetch('/send-eemail?eventName=${eventName}&eventOrganizer=${eventOrganizer}&eventEmail=${eventEmail}&eventPhone=${eventPhone}&bookingArray=${bookingArray}' ,{method: 'POST',})
        .then(response => {
         
          alert('Email sent successfully');
          if (response.ok) {

            alert('Email sent successfully');
          } else {
           
            alert('Email not sent');
          }
        })
        .catch(error => {
          console.error('Error sending email:', error);
          alert('meu');
        });
    }
  </script>
 
<div style="text-align: center;"><button id="pdfButton" onclick="makepdf()" style="height: 50px;"><b>Click here to Generate PDF</b></button></div>

<script>
    function makepdf() {
        var element = document.getElementById('content');
        html2pdf(element, {
            margin: 0,
            filename: 'myfile.pdf',
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            html2canvas: {
                dpi: 300,
                letterRendering: true
            },
            jsPDF: {
                unit: 'in',
                format: 'letter',
                orientation: 'portrait'
            }
        });
    }
</script>

    
    
    
