<style>
  #availableRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  li{
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    
  }
  a {
    text-decoration: none;
    color: black;
  }

  .container {
    background-color: rgb(247, 244, 205);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  h1{
    text-align: center;
    background-color: wheat;
    border-radius: 10px;
    padding: 20px;
  }
  
</style>

<head>
  <title>Available Rooms</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <!-- <button id="searchButton">Search</button> -->

  <div id="availableRoom">
    <form action="/bookroom" method="post">
      <h1>Available Rooms of Type <%= roomType %></h1>
    
      <% if (roomLength === 0) { %>
        <p>No rooms available of the selected type.</p>
      <% } else { %>
        <div class="container">
          <ul>
            <% rooms.forEach(function(room) {
              array1 = room.availableTime;
              array2 = room.bookedSlots;
              if (array1.length !== array2.length) { %>
                <li>
                  <h3><%= room.roomNumber %></h3>
                  <% for (i = 0; i < array1.length; i++) { %>
                    <% if (!array2.includes(array1[i])) { %>
                      <input type="checkbox" name="bookedSlots[<%= room._id %>][<%= i %>]" value="<%= array1[i] %>">
                      <%= array1[i] %>
                      <br>
                    <% } %>
                  <% } %>
                  <button type="submit" formaction="/booking" name="selectedRoom" value="<%= room._id %>" class="btn btn-primary">Book</button>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
      <% } %>
    
      <a href="/">Go back</a>
    </form>
    
    
  </div>

  <!-- <script>
    const searchButton = document.getElementById("searchButton");
    const availableRoom = document.getElementById("availableRoom");

    searchButton.addEventListener("click", function () {
      availableRoom.style.display = "block";
    });
  </script> -->
</body>
