<style>
  #availableRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .container {
    background-color: rgb(247, 244, 205);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  h1 {
    text-align: center;
    background-color: wheat;
    border-radius: 10px;
    padding: 20px;
  }
</style>

<head>
  <title>Available Rooms</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
  <div id="availableRoom">
    <form action="/booking" method="post">
      <h1>Available Rooms of Type <%= roomType %></h1>
  
      <% if (roomLength === 0) { %>
        <p>No rooms available of the selected type.</p>
      <% } else { %>
        <div class="container">
                    <input type="hidden" value="<%= eventName %>" name="eventName">
                    <input type="hidden" value="<%= eventOrganizer %>" name="eventOrganizer">
                    <input type="hidden" value="<%= eventEmail %>" name="eventEmail">
                    <input type="hidden" value="<%= eventPhone %>" name="eventPhone">
                    <input type="hidden" value="<%= eventType %>" name="eventType">
          <% for (let i = 0; i < dates.length; i++) { %>
            <input type="text" value="<%= dates[i] %>" name="dates[<%= i %>]">
            <ul>
              <% rooms.forEach(function(room) {
                const bookedTimesForDate = new Set();
                room.bookedSlots.forEach(function(slot) {
                  if (slot.date.includes(dates[i])) {
                    slot.times.forEach(function(time) {
                      bookedTimesForDate.add(time);
                    });
                  }
                });
  
                const availableTimes = room.availableTime.filter(function(time) {
                  return !bookedTimesForDate.has(time);
                });
  
                if (availableTimes.length > 0) { %>
                  <li>
                    <h3><%= room.roomNumber %></h3>
                    <h3>Capacity: <%= room.capacity %> </h3>
                    <% for (let j = 0; j < availableTimes.length; j++) { %>
                      <input type="checkbox" name="bookedSlots[<%= room._id %>][<%= i %>][<%= j %>]" value="<%= availableTimes[j] %>" />
                      <%= availableTimes[j] %><br />
                    <% } %>
                    
                    <button type="submit" formaction="/booking" name="selectedRoom" value="<%= room._id %>" class="btn btn-primary">Book</button>
                  </li>
                <% } else { %>
                  <li>
                    <h3><%= room.roomNumber %></h3>
                    <p>No available time slots for this date.</p>
                  </li>
                <% } %>
              <% }); %>
            </ul>
          <% } %>
        </div>
      <% } %>
  
      <a href="/">Go back</a>
    </form>
  </div>
  

  <!-- <script>
    const searchButton = document.getElementById("searchButton");
    const availableRoom = document.getElementById("availableRoom");

    searchButton.addEventListener("click", function () {
      availableRoom.style.display = "block";
    });
  </script> -->
</body>